env/*
env-win32/*
*.pyc
.DS_Store
dist/*
build/*
*.spec
_compiler_in/*
_compiler_out/*
in.txt
out.txt
*.graphml
*.txt.prg


*.annot
*.cmo
*.cma
*.cmi
*.a
*.o
*.cmx
*.cmxs
*.cmxa
parser.ml
parser.mli
lexer.ml